<div style="margin-top: 200px; margin-left: 100px;" *ngIf="warehousesTableShow">
    <table style="width: 60%;border-collapse:separate; 
    border-spacing:2.5em;">
        <thead>
          <tr>
            <th (click)="openWarehouse(colArray[i].WarehouseId)" id="th" scope="col" *ngFor="let col of colArray; index as i">
                <p>{{colArray[i].WarehouseId}}</p>
                <p>Manager: {{colArray[i].StorekeeperName}}</p>
                <p>Address: {{colArray[i].Address}}</p>
            </th>
          </tr>
        </thead>
      </table>
  </div>

  <div style="margin-top: 70px;" *ngIf="!warehousesTableShow">
    <div>
      <div *ngIf = "message" #alert class="alert alert-warning alert-dismissible fade show" style="background-color: rgb(43, 138, 90); color: black;" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong> {{message}}</strong>
      </div>
  </div>
    <div style="float:right; margin-right: 50px;" >
        <p>Warehouse:</p>
        <select class="custom-select" (change)="changeWarehouse($event)"  required>
            <option *ngFor="let obj of warehouseNames" [value]="obj"  [selected]="obj === curentWarehouse">{{obj}}</option>
        </select>
      </div>
    <div class="d-flex">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
          <li ngbNavItem="Shelves">
            <a ngbNavLink>Shelves</a>
            <ng-template ngbNavContent>
                <div style="float: left; margin-top: 30px; margin-right: 20px;">
                  <b style="font-size: 50px;">Items</b>
                  <div style="float: top; margin-bottom: 10px;">
                    <input style="width: 75%;" id="search" [value]="keyWord" (input)="updateSearch($event)" mdbInput>
                    <button style="width: 10%; float: right;" (click)="clearSearch()" >Clear</button>
                    <button style="width: 15%; float: right;" [disabled]="!(keyWord.length >= 3)" (click)="search()">Search</button>
                  </div>
                  <div  id="tableAllItemsShelfs">
                    <table  class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Quantity </td>
                                <td>Type</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody *ngFor="let col of dataSource; index as i" id={{dataSource[i].Name}} title={{dataSource[i].Name}}>
                            Shelf: {{dataSource[i].Name}}
                        <tr scope="col" *ngFor="let col of dataSource[i].Items; index as j" (dblclick)="addToOrder(i,j)">
                           
                                <td>{{dataSource[i].Items[j].Name}}</td>
                                <td> {{dataSource[i].Items[j].Quantity}}</td>
                                <td>{{dataSource[i].Items[j].Type}}</td>
                                <td>{{dataSource[i].Items[j].Amount}} $</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                <div style="float: right;
                margin-top: 30px;
                margin-left: 100px; ">
                   <b style="font-size: 50px;">New Order</b>
                   <div>
                    <p style="float: left; width: 20%;">Company</p> &nbsp;
                   <input style="width: 78%; float: right;" list="brow" (input)="takeCompany($event)">
                    <datalist id="brow">
                      <option *ngFor="let obj of companies" [value]="obj.Name"  [selected]="obj === company">{{obj.Name}}, {{obj.Address}}, {{obj.PIB}}</option>
                    </datalist>  
                  </div>
                   <div id=tableDiv>
                   <table class="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Quantity </td>
                            <td>Type</td>
                            <td>Amount</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let el of OrderDataSource" >
                      <td>{{el.Name}}</td>
                      <td>{{el.Quantity}}</td>
                      <td>{{el.Type}}</td>
                      <td>{{el.Amount}} $</td>
                      <td><button style="background-color: transparent; border: transparent; color: green; font-size: large;" (click)="increaseQuantity(el.Id)">+</button></td>
                      <td><button style="background-color: transparent; border: transparent; color: black; font-size: large;" (click)="decreseQuantity(el.Id)">-</button></td>
                      <td><button style="background-color: transparent; border: transparent; color: red; font-size: large;" (click)="removeItem(el.Id)">x</button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div style=" margin-left: 20px;margin-top: 50px;">
                  <p  style="float:left;font-size: xx-large;"><b>Total:</b> {{total}} $</p>
                  <button style="float:right;font-size: xx-large;" (click)="save()">Save</button>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="Items" (click)="getAllItems()">
            <a ngbNavLink>Items</a>
            <!--Items-->
            <ng-template ngbNavContent>
              <div style="float: left;">
              <div style="float: right; margin: 30px;">
              <div style="float: top;">
                <b style="font-size: 50px;">Items</b>
                <br>
                <input style="width: 75%;" id="search" (keyup.enter)="AllItemsSearchEnter()" (keyup.clear)="clearAllItemsSearch()"  [value]="allItemsKeyWord" (input)="updateAllItemsSearch($event)" mdbInput>
                <button style="float: right;width: 10%;" (click)="clearAllItemsSearch()">Clear</button>
                <button style="float: right;width: 15%;" [disabled]="!(allItemsKeyWord.length >= 3)" (click)="allItemsSearch()">Search</button>
              <br>
              </div>
              <br>
              <div id="tableAllItems">
                <table class="table">
                 <thead>
                     <tr>
                         <td><b>Name</b></td>
                         <td><b>Quantity</b> </td>
                         <td><b>Type</b></td>
                         <td><b>Amount</b></td>
                         <td><b>Warehouse</b></td>
 
                     </tr>
                 </thead>
                 <tbody>
                 <tr *ngFor="let el of allItems" >
                   <td>{{el.Name}}</td>
                   <td>{{el.Quantity}}</td>
                   <td>{{el.Type}}</td>
                   <td>{{el.Amount}} $</td>
                   <td>{{el.Warehouse}}</td>
                 </tr>
                 </tbody>
               </table>
              </div>
             </div>
            <div>
            </div>
             
            </div>
            <button id="newItemBtn"  (click)='ShowNewItem()'>Add new item</button>
            <div id="newItemSectionHidden">
              <b style="font-size: large;">New item</b>
              <form style="margin-top: 5%;" [formGroup]="NewItem" (submit)="SaveItem()" class="needs-validation" novalidate>
                <label for="fname">Name:</label><br>
                <input  type="text" class="newItemInput" formControlName="Name" required><br>
                <label for="lname">Quantity:</label><br>
                <input type="number" class="newItemInput" formControlName="Quantity" required><br>
                <label for="lname">Amount:</label><br>
                <input type="number" class="newItemInput" formControlName="Amount" required><br>
                <label for="lname">Type:</label><br>
                <select class="custom-select" formControlName="Type"  required>
                  <option *ngFor="let obj of itemTypes" [value]="obj">{{obj}}</option>
              </select>
                <label for="lname">Warehouse:</label><br>
                <select class="custom-select" formControlName="Warehouse"  (change)="getShelvesForNewItem()" required>
                  <option *ngFor="let obj of warehouseNames" [value]="obj"  >{{obj}}</option>
                </select>
                <label for="lname">Shelf:</label><br>
                <select class="custom-select" formControlName="ShelfId"  required>
                  <option *ngFor="let obj of shelves" [value]="obj">{{obj}}</option>
                </select>
                <div style="margin-top: 20px;">
                  <input style="float: right;" type="button" (click)='HideNewItem()'  value="Close">
                  <input style="float: right;"  type="submit" title="Save"> &nbsp;
               </div>
              </form>
            </div>
            </ng-template>
          </li>
          <li ngbNavItem="Reports" (click)="getReports()">
            <a ngbNavLink>Reports</a>
            <ng-template ngbNavContent>
              <div>
                <b style="font-size: 50px;">Reports</b>
              <div id="tableAllItems">
                <table class="table">
                 <thead>
                     <tr>
                         <td><b (click)="SortByDate()">Date</b></td>
                         <td><b (click)="SortByType()">Type</b> </td>
                     </tr>
                 </thead>
                 <tbody>
                 <tr *ngFor="let el of reports" >
                   <td>{{el.Date}}</td>
                   <td>{{el.Type}}</td>
                 </tr>
                 </tbody>
               </table>
              </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="Load">
            <a ngbNavLink>Load</a>
            <ng-template ngbNavContent>
              <div>
                <p>Load type: </p>
                <select class="custom-select" (change)="changeLoadType($event)"  required>
                    <option *ngFor="let obj of loadTypes" [value]="obj"  [selected]="obj === currentLoadType">{{obj}}</option>
                </select>
              </div>
              <div style="margin-top: 200px; float: left;margin-left: 100px;">
                <p>Loads</p>
                <table class="table">
                 <thead>
                     <tr>
                         <td><b>Id</b></td>
                         <td><b>Warehouse</b> </td>
                         <td><b>Ramp</b></td>
                     </tr>
                 </thead>
                 <tbody>
                 <tr *ngFor="let el of loads" >
                   <td>{{el.Id}}</td>
                   <td>{{el.Warehouse}}</td>
                   <td>{{el.Ramp}}</td>
                 </tr>
                 </tbody>
               </table>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="ml-4"></div>
      </div>
  </div>