body
{
  padding-top: 5%;
}


  #tableAllItems
  {
    overflow-y: auto;
  }

  #tableAllItemsShelfs
  {
    overflow-y: auto;
  }

  #newItemSectionHidden
  {
    margin-top: 2%;
    float:right;
    visibility: hidden;
  }

  .newItemInput
  {
    width: 100%;
  }

  th:hover
  {
    background-color:red;
  }

  tr:hover
  {
    background-color:rgba(1, 100, 248, 0.562);
  }


