<div class="card" *ngIf="warehousesTableShow">
  <div class="card-body">
    <img style="float: right;"  src="https://img.icons8.com/ultraviolet/100/000000/garage-closed.png" alt="Card image cap">
    <h1>Warehouses</h1>
    <h5>Chose warehouse by clicking on it to continue</h5>
  </div>
</div>

<div class="card" *ngIf="warehousesTableShow">
    <table style="width: 60%;border-collapse:separate; table-layout: fixed;
    word-wrap: nowrap; overflow-y: auto;
    border-spacing:2.5em;">
        <thead>
          <tr>
            <th style="width: 35em;"  (click)="openWarehouse(colArray[i].WarehouseId)" id="th" scope="col" *ngFor="let col of colArray; index as i">
              <div class="card">
                <div class="card-body">
                  <img style="float: right;"  src="https://img.icons8.com/ultraviolet/100/000000/garage-closed.png" alt="Card image cap">
                  <h5 style="float: left;" class="card-title">Warehouse</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name: <b style="float: right;">{{colArray[i].WarehouseId}}</b></li>
                  <li class="list-group-item">Manager <b style="float: right;">{{colArray[i].StorekeeperName}}</b></li>
                  <li class="list-group-item">Address: <b style="float: right;">{{colArray[i].Address}}</b></li>
                </ul>
              </div>
            </th>
          </tr>
        </thead>
      </table>
  </div>

  <div *ngIf="!warehousesTableShow">
    <div>
  </div>
    <div style="float:right;  margin: 1%" >
        <select class="custom-select" (change)="changeWarehouse($event)"  required>
            <option *ngFor="let obj of warehouseNames" [value]="obj"  [selected]="obj === curentWarehouse">{{obj}}</option>
        </select>
      </div>
    <div>
        <ul ngbNav #nav="ngbNav"  class="nav-pills" [(activeId)]="active" orientation="horisontal">
          <li ngbNavItem="Shelves">
            <a ngbNavLink (click)="getShelves(curentWarehouse)">Shelves</a>
            <ng-template ngbNavContent>
              <div>
                <div class="card" style="float: left; margin-top: 3%; width: 50%; height: 40em; margin-bottom: 7%;">
                  <div>
                    <b style="font-size: 50px; float: left;">Shelfs & Items</b>
                    <img style="float: right;" src="https://img.icons8.com/ultraviolet/100/000000/book-shelf.png"/>
                  </div>
                  
                  <div class="card" style="float: top;">
                    <div>
                      <input class="form-control" style="width: 95%; margin: 2%;"  id="search" [value]="keyWord" (input)="updateSearch($event)" mdbInput>
                    </div>
                    <div>
                      <button class="btn btn-secondary" style="width: 15%; margin: 0.5%; float: right;" (click)="clearSearch()" >Clear</button>
                      <button class="btn btn-primary" style="width: 20%; margin: 0.5%; float: right;" [disabled]="!(keyWord.length >= 3)" (click)="search()">Search</button>
                    </div>
                   
                  </div>
                  <div class="card-body"  id="tableAllItemsShelfs">
                    <table  class="table" style="scroll-behavior: auto;">
                        <thead>
                            <tr >
                                <td>Name</td>
                                <td>Quantity </td>
                                <td>Type</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody *ngFor="let col of dataSource; index as i" id={{dataSource[i].Name}} title={{dataSource[i].Name}}>
                            Shelf: {{dataSource[i].Name}}
                        <tr scope="col" *ngFor="let col of dataSource[i].Items; index as j" (dblclick)="addToOrder(i,j)">
                                <td>{{dataSource[i].Items[j].Name}}</td>
                                <td>{{dataSource[i].Items[j].Quantity}}</td>
                                <td>{{dataSource[i].Items[j].Type}}</td>
                                <td>{{dataSource[i].Items[j].Amount}} $</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                
                <div class="card" style="float: right; width: 40%; margin-left: 3%;margin-right: 3%; margin-top: 1%; margin-bottom: 5%;">
                  <div>
                    <b style="font-size: 50px; float: left;">New Order</b>
                    <img style="float: right;" src="https://img.icons8.com/ultraviolet/100/000000/create-order--v1.png"/>
                  </div>
                   <div>
                    <p style="float: left; width: 20%;">Company</p> &nbsp;
                   <input  class="form-control" style="width: 70%; float: right; margin: 1%;" list="brow" (input)="takeCompany($event)">
                    <datalist id="brow">
                      <option *ngFor="let obj of companies" [value]="obj.Name"  [selected]="obj === company">{{obj.Name}}, {{obj.Address}}, {{obj.PIB}}</option>
                    </datalist>  
                  </div>
                   <div id=tableDiv>
                   <table class="table" style="width: 100%; overflow-y:scroll">
                    <div style="height: 250px; overflow-x: hidden;">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Quantity </td>
                            <td>Type</td>
                            <td>Amount</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let el of OrderDataSource" >
                      <td>{{el.Name}}</td>
                      <td>{{el.Quantity}}</td>
                      <td>{{el.Type}}</td>
                      <td>{{el.Amount}} $</td>
                      <td><button style="background-color: transparent; border: transparent; color: green; font-size: large;" (click)="increaseQuantity(el.Id)">+</button></td>
                      <td><button style="background-color: transparent; border: transparent; color: black; font-size: large;" (click)="decreseQuantity(el.Id)">-</button></td>
                      <td><button style="background-color: transparent; border: transparent; color: red; font-size: large;" (click)="removeItem(el.Id)">x</button></td>
                    </tr>
                  </tbody>
                  </div>
                  </table>
                </div>
                <div class="card">
                  <p  style="float:left;font-size: xx-large;"><b>Total:</b> {{total}} $</p>
                  <button class="btn btn-primary" style="float:right;font-size: xx-large;" (click)="save()">Save</button>
                </div>
            </div>
              </div>
             
            </ng-template>
          </li>
          <li ngbNavItem="Items">
            <a ngbNavLink>Items</a>
            <ng-template ngbNavContent>
              <app-items></app-items>
            </ng-template>
          </li>
          <li ngbNavItem="Reports">
            <a ngbNavLink>Reports</a>
            <ng-template ngbNavContent>
              <app-reports></app-reports>
            </ng-template>
          </li>
          <li ngbNavItem="Load">
            <a ngbNavLink>Load</a>
            <ng-template ngbNavContent>
              <app-loads></app-loads>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="ml-4"></div>
      </div>
  </div>