<body>
<div class="card">
  <div class="card-body" style="background-color: rgb(230, 230, 230);">
    <img src="assets/images/warehouse.png" class="rounded mx-auto d-block"  alt="/login" width="80%">
  </div>
  <div  style="background-color: rgb(242, 242, 242);">
    <p id="title">Welcome to warehouse managment system</p>
    <p id="subTitle">Please <a href="/login">login</a> to continue</p>
    <img  style="margin-left: 47%;" src="https://img.icons8.com/cotton/80/000000/transport--delivery--logistics--cargo--parcel--box--service-28.png"/>
  </div>
  <div  style="flex-direction: column; margin-left: 2%; margin-right: 2%;">
    <h1 style="float: left;"> Number of orders all the time: {{numOfOrdersAllTime}}</h1>
    <h1 style="float: right;"> Number of orders today: {{numOfOrdersToday}}</h1>
  </div>
</div>
</body>

