<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="card">


<div class="card-body" >
	<h1 style="font-size: 50px; float: left;">Login</h1>
	<img style="margin-left: 2%;" src="https://img.icons8.com/ultraviolet/100/000000/enter-2.png"/>
  </div>
<div class="card-body" style="margin-left: 30%; margin-right: 30%;">
    <div>
		<div>
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form [formGroup]="loginForm" (ngSubmit)="login()" accept-charset="UTF-8" role="form" >
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="E-mail" name="email" type="text" formControlName="username" required>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="" formControlName="password" required>
			    		</div>
			    		<input style="background-color: rgb(61, 81, 97); border-color: blue;" class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    	</fieldset>
			      	</form>
					  <div>
						<button style="background-color: transparent; border-color: transparent; color: black; text-align: center;" (click)="ResetPassword()">I forgot password</button>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>
</div>
