<body>


<div style="margin-left: 2%; float: left; ">
  <h2 style="float: right;">Driver</h2>
  <img style="float: left;" src="https://img.icons8.com/ultraviolet/100/000000/driver.png"/>
</div>
<br>
<div>

<div class="card" style="width: 18rem; float: right; margin-right: 5%;" *ngIf="vehicle">
  <div class="card-body">
    <img style="float: right;"  src="https://img.icons8.com/officel/100/000000/car.png" alt="Card image cap">
    <h5 style="float: left;" class="card-title">My vehicle</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Registration: <b style="float: right;">{{vehicle.Registration}}</b></li>
    <li class="list-group-item">Brand <b style="float: right;">{{vehicle.Brand}}</b></li>
    <li class="list-group-item">Type: <b style="float: right;">{{vehicle.Type}}</b></li>
    <li class="list-group-item">LoadCapacity: <b style="float: right;">{{vehicle.LoadCapacity}}</b></li>
    <li class="list-group-item">Milage: <b style="float: right;">{{vehicle.Mileage}} km</b></li>
    <li class="list-group-item">Production Year: <b style="float: right;">{{vehicle.ProductionYear}}</b></li>
  </ul>
  <div class="card-body">
    <button style="float: right;" class="btn btn-outline-primary" (click)="freeVehicle(vehicle.Registration)">Return vehicle</button>
  </div>
</div>

  <div class="card" style="margin-top: 5%;  margin-left: 5%; margin-right: 7%;" *ngIf="!vehicle">
    <div class="card-body">
      <img style="float: right;"  src="https://img.icons8.com/officel/100/000000/car.png" alt="Card image cap">
      <p>Please choose one of the free vehicles</p>
    </div>
    <div class="card-body">
    <table class="table">
     <thead>
         <tr>
             <td><b>Registration</b></td>
             <td><b>Brand</b> </td>
             <td><b>Type</b></td>
             <td><b>LoadCapacity</b></td>
             <td><b>Mileage</b></td>
             <td><b>ProductionYear</b></td>

         </tr>
     </thead>
     <tbody>
     <tr *ngFor="let el of vehicles" (dblclick)="takeVehicleByDriver(el.Registration)" >
       <td>{{el.Registration}}</td>
       <td>{{el.Brand}}</td>
       <td>{{el.Type}}</td>
       <td>{{el.LoadCapacity}}</td>
       <td>{{el.Mileage}}</td>
       <td>{{el.ProductionYear}}</td>
     </tr>
     </tbody>
   </table>
    </div>
  </div>

  <br>
  <div  style="margin-top: 5%; margin-left: 9%; margin-bottom: 7%; width: 60%;" *ngIf="vehicle && driversLoad.Id">

  <div class="card">
    <div class="card-body">
      <img style="float: right;" src="https://img.icons8.com/ultraviolet/40/000000/truck.png" alt="Card image cap">
      <h5 style="float: left;" class="card-title">Loading</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: <b style="float: right;">{{driversLoad.Id}}</b></li>
      <li class="list-group-item">Warehouse <b style="float: right;">{{driversLoad.Warehouse}}</b></li>
      <li class="list-group-item">Ramp: <b style="float: right;">{{driversLoad.Ramp}}</b></li>
      <li class="list-group-item">Report: <button style="float: right;" class="btn btn-link" (click)="GetReportPdf(driversLoad.ReportId)"> Download</button></li>
      <li class="list-group-item"><qr-code style="float: right;"  value={{driversLoad.Id}} size="100" errorCorrectionLevel="M"></qr-code></li>
    </ul>
    <div class="card-body">
      <button style="float: right;" class="btn btn-outline-primary" (click)="LoadFinished(driversLoad.ReceiptId)">Load finised</button>
    </div>
  </div>
</div>
  

  <div style="margin-top: 5%; float: left; width: 55%;" *ngIf="vehicle && !driversLoad.Id">
    <div class="card">
      <div class="card-body">
        <p>Loads waiting for transport (double click to take)</p>
      </div>
      <div class="card-body">
    <table class="table">
     <thead>
         <tr>
             <td><b>Id</b></td>
             <td><b>Warehouse</b> </td>
             <td><b>Ramp</b></td>
             <td><b>Is Ramp Free</b></td>
         </tr>
     </thead>
     <tbody>
     <tr *ngFor="let el of loads" (dblclick)="takeLoad(el.Id,el.RampFree)" >
       <td>{{el.Id}}</td>
       <td>{{el.Warehouse}}</td>
       <td>{{el.Ramp}}</td>
       <td>{{el.RampFree}}</td>
     </tr>
     </tbody>
   </table>
   </div>
  </div>
  </div>
</div>
</body>
