<div class="card" style="margin: 1%;  margin-bottom: 7%;">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <!--nav-pills-->
    <li ngbNavItem>
      <a ngbNavLink>Employees</a>
      <br>
      <ng-template ngbNavContent>
      <app-employees></app-employees>
      </ng-template>
    </li>
    <li ngbNavItem="Items">
      <a ngbNavLink>Items</a>
      <ng-template ngbNavContent>
        <app-items></app-items>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Warehouses & Shelves</a>
      <ng-template ngbNavContent>
        <app-warehouse-and-shelves></app-warehouse-and-shelves>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Companies</a>
      <ng-template ngbNavContent>
       <app-companies></app-companies>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Ramps</a>
      <ng-template ngbNavContent>
        <app-ramps></app-ramps>
      </ng-template>
    </li>
    <li ngbNavItem="Vehicles">
      <a ngbNavLink>Vehicles</a>
      <ng-template ngbNavContent>
        <app-vehicles></app-vehicles>
      </ng-template>
    </li>
    <li ngbNavItem="Load">
      <a ngbNavLink>Load</a>
      <ng-template ngbNavContent>
      <app-loads></app-loads>
      </ng-template>
    </li>
    <li ngbNavItem="Reports">
      <a ngbNavLink>Reports</a>
      <ng-template ngbNavContent>
        <app-reports></app-reports>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>