#tableDiv
  {
      min-height: 550px; 
      max-height: 550px; 
      height: 550px;
      width: 700px;
      min-width: 700px;
      max-width: 700px;
  }

  #cardWrapper
  {
    flex-direction: row; 
    overflow: hidden;
  }
  @media only screen and (max-width: 600px) {
  #cardWrapper
  {
    flex-direction: row;
  }
  }