#newRampSectionHidden
  {
    min-height: 40%; 
    max-height: 40%; 
    height: 40%;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    float:right;
    visibility: hidden;
  }

  tr:hover
  {
    background-color:rgba(1, 100, 248, 0.562);
  }